<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBj9O52zl5gnBHM2hTpD_ww0Dq3DQPN_pg</string>
	<key>GCM_SENDER_ID</key>
	<string>506959487251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapp.LetsChatt</string>
	<key>PROJECT_ID</key>
	<string>letschatt-40baf</string>
	<key>STORAGE_BUCKET</key>
	<string>letschatt-40baf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:506959487251:ios:ceb17988fae3e19c137ae6</string>
</dict>
</plist>
